:global(.os-darwin) .main-controls {
  padding-left: 65px; /* let some space for titleBarStyle */
}

/* The native frame may be light, so we need to increase the contrast between
   the frame and the container */
:global(.os-win32),
:global(.os-linux) {
  .container {
    border-top: 1px solid var(--border-color);
  }
}

.container {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 132px;
  flex: 0 0 auto;

  /* Draggable region (zone able to move the window) */
  -webkit-app-region: drag;
}

.left {
  width: 120px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.waveform {
  flex: 1 1 auto;
  min-width: 0;
  /* max-width: 600px; */
  background-color: black;

}

.right {
  -webkit-app-region: no-drag;
  width: 120px;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

